body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wrapper {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0%;
  margin: 0%;
}
a {
  text-decoration: none;
}
.blackDiv {
  margin-top: -50px;
  padding: 0%;
  width: 50vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.purpleDiv {
  /* box-shadow:1px 0px 50px 0px rgb(168, 2, 190) ; */
  /* box-shadow:1px 0px 50px 0px rgb(199, 0, 175) ; */

  background: rgb(199, 0, 175);
  background: linear-gradient(
    180deg,
    rgba(199, 0, 175, 1) 25%,
    rgba(82, 4, 124, 1) 66%
  );
  height: 97vh;
  width: 45vw;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px 0px 50px 0px;
}

.landingImg {
  height: 650px;
  width: 650px;
  margin-left: -5px;
  margin-top: -50px;
}
.registerBtn {
  padding: 25px 1px;
  height: 10px;
  width: 200px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
  margin-top: -25px;
  color: white;
  background-color: black;
  font-weight: 700;
  font-size: medium;
}
.registerBtn:hover {
  cursor: pointer;
}

.appLogo {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 7px;
  margin-left: -20px;
  margin-right: 10px;
}
.nameGr {
  background: #dd16f2;
  background: linear-gradient(to bottom right, #dd16f2 11%, #610bb8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;
  font-weight: 800;
  font-size: 33px;
}
.name {
  color: white;
  margin-left: 0px;
}
.inlineLanding {
  display: flex;
  flex-direction: row;
  color: white;
  margin-top: -150px;
}
.inline {
  display: flex;
  flex-direction: row;
  color: white;
}
.top {
  margin-top: 150px;
  position: relative;
}
.big {
  font-size: 60px;
  margin-left: 100px;
  margin-top: -60px;
  font-weight: 800;
  position: relative;
}
.small {
  margin-top: -30px;
  margin-left: 10px;
  font-size: 30px;
  position: relative;
}
.bottom {
  margin-left: 105px;
  position: relative;
}
.india {
  margin-left: 10px;
}
.startBtn {
  height: 60px;
  width: 250px;
  margin-left: 14vw;
  border-radius: 15px;
  margin-top: 50px;

  border: none;
  font-weight: 600;
  font-size: larger;
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
}

.startBtn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.tier {
  background: #ae11bf;
  background: linear-gradient(to right, #ae11bf 29%, #690cc7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ques {
  background: #d608bb;
  background: linear-gradient(to right, #d608bb 14%, #70075b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.LINK {
  background-color: aqua;
}
.loginWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}
.Lcontainer {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.loginImg {
  height: 800px;
  width: 800px;
}
.btnDiv {
  display: flex;
  margin-top: 20px;
}
.gitBtn {
  margin-left: 10px;
  width: 260px;
  height: 50px;
  border-radius: 10px;
  font-size: large;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}
.github-icon {
  height: 35px;
  width: 35px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 50%;
}
.git-btn-text {
  margin-left: 7px;
  margin-top: 14px;
  font-weight: 700;
}
.googleBtn {
  width: 260px;
  height: 50px;
  border-radius: 10px;
  font-size: large;
  display: flex;
  justify-content: center;
}
.google-btn-text {
  margin-top: 13px;
  margin-left: 10px;
  font-weight: 700;
}
.google-icon {
  margin-top: 10px;
  margin-left: 10px;
}
.homeWrapper {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(152, 3, 249, 1) 81%
  );
  height: 100vh;
  overflow: scroll;
}
.appLogoHome {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 7px;
  margin-left: 0px;
  margin-right: 10px;
}
.loginTop {
  background: rgb(44, 1, 41);
  background: linear-gradient(
    180deg,
    rgba(44, 1, 41, 1) 16%,
    rgba(243, 0, 255, 1) 98%
  );
  height: 100vh;
}
.appLogoLogin {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 10px;
}

/* //PIYUSH */
.list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 800px;
}

.listItem {
  /* margin-top: -5px; */
  margin-right: 10px;
  font-weight: 500;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: white;
  object-fit: cover;
}


/* NEXT */
.typeWriter {
  margin-top: -550px;
  margin-bottom: -50px;
  margin-left: 100px;
  width: 1000px;
  font-size: x-large;
  position: fixed;
  display: flex;
  flex-direction: row;
}
.getText {
  color: white;
  font-size: 30px;
  font-weight: 400;
}
.typeWriterH2 {
  /* background: #ae11bf; */
  background: linear-gradient(to right, #ae11bf 29%, #690cc7 100%);
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 800;
}

/* FORM CSS */

.upload-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
/* 
.upload-form fieldset {
  border: none;
  padding: 0;
  margin: 0; */
/* } */

/* .upload-form legend {
  font-size: 1.5rem;
  margin-bottom: 10px;
} */

.upload-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.upload-form .form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.upload-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.upload-form .btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-form .btn:hover {
  background-color: #0056b3;
}

.upload-form img {
  display: block;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* UploadForm.css */
.upload-form-container {
  display: flex;
  background-color: black;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.upload-form {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 550px;
}
.upload-preview {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.upload-preview img {
  max-width: 500px;
  max-height: 600px;
}

/* Home.css */

.companiesBox {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

.companyList {
  list-style-type: none;
  padding: 0;
}

.companyItem {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* .companiesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.companyBox {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  border-radius: 40px;
}

.companyBox {
  flex: 0 0 calc(33.33% - 20px); /* Set card width to 1/3 of the container minus gap */
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  border-radius: 10px;
}


.companyLogo {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 30px;

}

.companyName {
  font-size: 20px;
  font-weight: 700;
  color:aliceblue;
}

.companyBox:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-10px);
  scale: 1.03;
}



/* CompanyDetails.css */

.company-details-container {
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(152, 3, 249, 1) 81%
  );
  color: #fff;
  min-height: 100vh;
}

.company-name-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.details-boxes {
  display: flex;
  flex-wrap: wrap;
}

.details-box {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin: 10px;
  width: calc(30.33% - 20px);
  cursor: pointer;
  transition: background-color 0.3s;
}

.details-box:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1);
}

.college-name {
  margin-bottom: 10px;
  color: #eee;
}

.info {
  margin-bottom: 5px;
  color: #ccc;
}

.details-box.active {
  background-color: rgba(255, 255, 255, 0.3);
}


/* Upload.css */
.upload_auth-form {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.upload_auth-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button {
  background-color: #f44336; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.logout-button:hover {
  background-color: #d32f2f; 
}
