.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.blackDiv {
  background-color: black;
  height: 100vh;
  width: 50vw;
}
.purpleDiv {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background: rgb(199, 0, 175);
  background: linear-gradient(
    180deg,
    rgba(199, 0, 175, 1) 25%,
    rgba(82, 4, 124, 1) 66%
  );
}
.appLogo {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.nameGr {
  background: #dd16f2;
  background: linear-gradient(to bottom right, #dd16f2 11%, #610bb8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 2px;
}
.name {
  color: white;
  margin-left: 0px;
}
.inline {
  display: flex;
  flex-direction: row;
  color: white;
}
.landingImg {
  margin-left: 80px;
  margin-top: -15px;
  width: 650px;
  height: 600px;
}
.registerBtn {
  width: 200px;
  height: 50px;
  margin-left: 500px;
  margin-top: 20px;
  border-radius: 12px;
  color: white;
  border: none;
  font-weight: 600;
  font-size: medium;
  background-color: black;
}
.top {
  margin-top: 150px;
}
.big {
  font-size: 60px;
  margin-left: 150px;
  margin-top: -60px;
  font-weight: 800;
}
.small {
  margin-top: -30px;
  margin-left: 10px;
  font-size: 30px;
}
.bottom {
  margin-left: 155px;
}
.india {
  margin-left: 10px;
}
.startBtn {
  height: 60px;
  width: 250px;
  margin-left: 14vw;
  border-radius: 15px;
  margin-top: 50px;

  border: none;
  font-weight: 600;
  font-size: larger;
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
}

.startBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.tier {
  background: #ae11bf;
  background: linear-gradient(to right, #ae11bf 29%, #690cc7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ques {
  background: #d608bb;
  background: linear-gradient(to right, #d608bb 14%, #70075b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
